<!-- src/templates/emails/password-reset.hbs -->
<h2>Password Reset Request</h2>
<p>You requested to reset your password.</p>
<p>Click below to set a new password:</p>
<a href="{{resetUrl}}" class="btn btn-danger">Reset Password</a>
<p><small>This link expires in 1 hour.</small></p>